html, body {
  height: 100%;
  width: 100%;
  background-color: #FAF9F6;
}

.box{
  background-color:white;
  box-shadow: 5px 5px 8px #D3D3D3, -5px -5px 8px #D3D3D3;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

table,tr,th{
  border:1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Ibarra Real Nova', serif;
}


body{
  text-align: center;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
}

h4{
  font-family: 'Raleway', sans-serif;
}

p{
  font-family: 'Raleway', sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  line-height: 1.5;
}

.button{
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  background: white;
  color: black;
  font-size: 1rem;
  transition: 0.1s;
  border: solid black 1px;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover{
  background: #FBFBFB;
  color: black;
  cursor: pointer;
  -webkit-transform: translateY(-2px);
	transform: translateY(-2px);
  
}
